biopython==1.78
filetype>=1.0.0
pytest>=3.0.0
pandas>=0.15.0
matplotlib>=2.1.2
seaborn>=0.8.1
pyfaidx>=0.5.4.1
pyahocorasick==1.4.0
pysam>=0.16.0.1
beautifulsoup4>=4.9.3
requests==2.24.0
lxml>=4.9.1
dask[dataframe]
