name: 'Close stale issues'
on:
  schedule:
    - cron: '11 11 * * *'

env:
  REPO_NAME: ${{ github.event.repository.name }}

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  stale:
    name: Stale
    runs-on: ubuntu-latest
    steps:
      - name: get repository name
        run: echo "REPOSITORY_NAME=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV
      - uses: actions/stale@v8
        with:
          stale-issue-message: "This issue is being automatically closed due to lack of activity for 30 days. While the CARD team does it's best to keep up, sometimes we are unable to do so. Please re-open this issue if you still need assistance."
          stale-pr-message: 'PR is stale and will be closed in 7 days unless there is new activity'
          stale-issue-label: 'stale'
          exempt-issue-labels: 'stale-exempt,kind/feature-request'
          stale-pr-label: 'stale'
          exempt-pr-labels: 'stale-exempt'
          remove-stale-when-updated: 'True'
          operations-per-run: 100
          days-before-stale: 30
          days-before-close: 7
